<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Portfolio II</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <div class="navbar-expand" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1 id="header">Home</h1>
        <img id="profile" src="~/images/hannah.jpg">

        <h2>Hannah Preisinger</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan, velit nec facilisis faucibus, felis arcu suscipit ex, non tempus diam magna sed turpis. Fusce erat velit, finibus hendrerit leo ac, suscipit sagittis magna. Nulla felis urna, placerat quis enim at, tempor hendrerit risus. Mauris quis tempor est. Proin orci nulla, tempor nec dolor ut, ultricies vulputate magna. Sed ut felis rhoncus, feugiat lectus tincidunt, fermentum dolor. Maecenas faucibus neque eu lobortis imperdiet. In faucibus dui sed turpis aliquet fermentum. Curabitur auctor non risus ut efficitur. Nunc in vehicula metus. Integer imperdiet pellentesque diam et fermentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan, velit nec facilisis faucibus, felis arcu suscipit ex, non tempus diam magna sed turpis. Fusce erat velit, finibus hendrerit leo ac, suscipit sagittis magna. Nulla felis urna, placerat quis enim at, tempor hendrerit risus. Mauris quis tempor est. Proin orci nulla, tempor nec dolor ut, ultricies vulputate magna. Sed ut felis rhoncus, feugiat lectus tincidunt, fermentum dolor. Maecenas faucibus neque eu lobortis imperdiet. In faucibus dui sed turpis aliquet fermentum. Curabitur auctor non risus ut efficitur. Nunc in vehicula metus. Integer imperdiet pellentesque diam et fermentum.</p>
    </div>
</body>
</html>