@{
    ViewData["Title"] = "Chefs";
}	

	@using ChefsNDishes.Models
	@model List<Chef>


<h1>Chefs | <a href="/dishes">Dishes</a></h1>

<h2>Check out our roster of chefs!</h2>

<hr></hr>

<table class="table table-striped">
	<thead class="thead-dark">
		<th>Name</th>
		<th>Age</th>
		<th># of Dishes</th>
	</thead>
	@foreach (var chef in Model){
	<tr>
		<td>@chef.FirstName @chef.LastName</td>
		<td>@{
				var x = DateTime.Now.AddYears(-@chef.DateOfBirth.Year);
		 	} 
			@x.Year
		 </td>
		<td>@chef.CreatedDishes.Count</td>
	</tr>
	}
</table>

<a href="/new"><button class="btn btn-dark">Add a Chef</button></a>