@{
    ViewData["Title"] = "Home";
}

@using CRUDelicious.Models
@model Dish

<div class="container">
    <h1>Welcome to CRUDelicious</h1>

    <div class="list">
        <h2>Check out some recent dishes!</h2>
            @foreach (var dish in @ViewBag.AllDishes){
                    <p><a href="/@dish.DishId">@dish.Name</a> by @dish.Chef</p>
            }
    </div>

    <p><a href="/new"><button class="btn btn-dark">Add a Dish</button></a></p>

</div>
